<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Text To Speech
    </ion-title>
    <ion-button slot='end' routerLink='/second' fill="clear"><ion-icon name="happy"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input placeholder="Type Something" [(ngModel)]="spk1"></ion-input>
  <ion-list>
    <!--Text-->
    <ion-item>
      <ion-label>Text</ion-label>
      <ion-input [(ngModel)]="text"></ion-input>
    </ion-item>
    <!--Rate-->
    <ion-item>
      <ion-range min="1" max="30" step="1" [(ngModel)]="rate">
        <ion-icon small range-left name="remove"></ion-icon>
        <ion-icon small range-right name="add"></ion-icon>
      </ion-range>
    </ion-item>
    <!--Language-->
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select [(ngModel)]="locale">
        <ion-select-option value="ru_RU">Russian</ion-select-option>
        <ion-select-option value="en-US">English</ion-select-option>
      </ion-select>
    </ion-item>
    <!--Play text-->
    <button ion-button full (click)=" speak1()">Play Text</button>
  </ion-list>
</ion-content>
